{% extends '@Frontend/layout.html.twig' %}

{% block content %}
    <section class="inner-content">
        <div class="container">
            <div class="row m-b-lg m-t-lg">
                <div class="col-md-5">

                    <div class="profile-image">
                        <i class="fa fa-user" style="font-size: 110px;"></i>
                    </div>
                    <div class="profile-info">
                        <div class="">
                            <div>
                                <h2 class="no-margins">
                                    {{ app.user.fullName }}
                                </h2>
                                <h4>MEMBER</h4>
                                <h2 class="no-margins">
                                    <i class="fa fa-trophy"></i> {{ app.user.points }} </h2> REWARD POINTS
                            </div>
                        </div>
                    </div>
                </div>
                {#<div class="col-md-1">#}
                    {#<h2 class="no-margins">142</h2> DEALS#}
                {#</div>#}
                {#<div class="col-md-1">#}
                    {#<h2 class="no-margins">61</h2> BUSINESSES#}
                {#</div>#}
            </div>
        </div>
    </section>
{% endblock %}