{% extends '@Frontend/layout.html.twig' %}

{% block title '- Internal server error' %}

{% block content %}

    <section class="inner-content">
        <div class="container">
            <div class="middle-box text-center animated fadeInDown">
                <h1>500</h1>

                <h3 class="font-bold">Internal Server Error</h3>

                <div class="error-desc">
                    The server encountered something unexpected that didn't allow it to complete the request. We apologize.<br/>
                    You can go back to our homepage.
                    <h2><a href="{{ path('frontend_homepage') }}"><b>Fuzenet Plaza</b> Home Page</a></h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}