# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: fuzenetcuba
    database_user: root
    database_password: root
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    # A secret key that's used to generate certain security-related tokens
    secret: jsdfno834892dkjh8273rpo1i029ruehfkdndw76432914389820dsjdkbnfs

    mailer_host: smtp.uci.cu
    mailer_port: 25
    mailer_user: pepe@gmail.com
    mailer_password: Hklrfun+332
    mailer_auth_mode: login
    mailer_transport: smtp
    mailer_encryption: tls
    facebook_client_id: 1160773883953962
    facebook_client_secret: 6643536fe1fa06c7464dc076d82afb32
    google_client_id: 123
    google_client_secret: 123

    # Pagination of backend CRUD list
    cruds.pagination.items: 12

    # Frontend
    deals.pagination.items: 12
    business.pagination.items: 12
    careers.apply.online: false

    # Emails
    customer.email.subject: Hello there!! from Plaza Mariachi
    customer.email.from: noreply@test.com
    customer.email.to: info@test.coms
    customer.email.register.subject: 'Thank you for registering'
    customer.email.register.message: |
        Welcome to the Plaza Mariachi website, we which you well!
    customer.email.subscribe.subject: 'Thank you for subscribing'
    customer.email.subscribe.messages:
        subscribe: "You're now subscribed to the Plaza Mariachi website, we which you well!\n"
        desubscribe: "Your subscription to the Plaza Mariachi website has been canceled!\n"
        resubscribe: "You're now re-subscribed to the Plaza Mariachi website, we which you well!\n"
    customer.email.to.contact: noreply@test.com
    careers.pdf.store: '%kernel.root_dir%/../web/uploads'
    careers.pdf.store.report: '%kernel.root_dir%/../web/reports'
    careers.contact.email:
        - careers@test.com
        - careers1@test.com
    careers.notification.subject: 'A new candidate has applied to an opening'
    careers.apply.online: true

    # Quantity of month to show amount of candidates statistics on Dashboard
    settings.graph.candidates.past.months: 12


    # Alerts parameters
    # Antiquity of Alerts that will be removed
    alert.antiquity.months: 3

    # Max alert to show on notification inbox
    alert.max.notification.inbox: 5

    # Email to send notifications
    alert.notification: true
    alert.notification.email:
        - careers@test.com
        - careers1@test.com

    # Google Calendar parameters
    google_calendar:
        api_key_file: PATH TO YOUR P12 FILE # For example app/Resources/GoogleCalendarBundle/XXXX.p12
        api_url: 'https://www.googleapis.com/auth/calendar'
        client_email: pm-test@test-452.iam.gserviceaccount.com

    # Google captcha keys
    captcha.site.key: 6LdeyCUUAAAAAI6VITn-tZ0Qs-cPgTacQJhCPaBS
    captcha.private.key: 6LdeyCUUAAAAAHNYEGOQsBtOmT0ecgLLZcGQty5f

    # Google Spreadsheet parameters
    google_spreadsheet_api_key_file: "%kernel.root_dir%/Resources/keys/google.p12"
    google_spreadsheet_client_email: "pm-test@test-452.iam.gserviceaccount.com"
