{% extends '@Frontend/layout.html.twig' %}

{% block title '- Confirmed Registration' %}

{% block page_content %}

    <section class="inner-content section-spaces">
        <div class="container">

            {% block fos_user_content %}
                <div class="text-center animated fadeInDown">
                    <h1>Welcome!!!</h1>

                    <p>Congrats <b>{{ user.fullName }}</b>, you have been registered succesfully.</p>
                </div>
                <div class="text-center m-t-lg">
                    <a class="btn btn-amber" href="{{ path("frontend_homepage") }}">BACK TO HOME</a>
                </div>

            {% endblock fos_user_content %}
        </div>
    </section>
{% endblock %}