{% extends 'BackendBundle::layout.html.twig' %}

{% block active_users %}active{% endblock %}
{% block page_heading_title %}
    Change password of <b>{{ app.user.username }}</b>
{% endblock %}

{% block page_content %}
    <div class="content-hr-both show-content">
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    </div>
{% endblock %}
