{% extends '@Frontend/layout.html.twig' %}

{% block title ' - ' ~ "Confirmation of subscription" %}

{% block content %}
    <section class="inner-content section-spaces-line">
        <div class="container">
            <div class="row m-b">
                <div class="col-lg-12 text-center">
                    <div class="section-line amber-line"></div>
                    <h1>Subscribe for new deals</h1>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h3>CONGRATULATIONS!</h3>
                <p>
                    You have been subscribed for the following categories:
                </p>

                <p class="text-center">
                    {% for category in entity.categories %}
                        <span class="label label-primary m-t m-r">
                                {{ category }}
                        </span>
                    {% else %}
                        <span class="label label-default">No category</span>
                    {% endfor %}
                </p>

                <hr class="hr-line-solid" />
                <p class="m-t-lg">
                    <a class="btn btn-green btn-lg" href="{{ path('frontend_homepage') }}">GO TO HOME</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}