{% extends '@Frontend/layout.html.twig' %}

{% block slider %}
    <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>We craft<br/>
                            brands, web apps,<br/>
                            and user interfaces<br/>
                            we are IN+ studio</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                        <p>
                            <a class="btn btn-lg btn-primary" href="landing.html#" role="button">READ MORE</a>
                            <a class="caption-link" href="landing.html#" role="button">Inspinia Theme</a>
                        </p>
                    </div>
                    <div class="carousel-image wow zoomIn">
                        {#<img src="img/landing/laptop.png" alt="laptop"/>#}
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back one"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block topdeals %}
    <section id="features" class="container services top-deals">
        <h1>TOP DEALS OF THE DAY</h1>

        {% for deal in deals %}
            <div class="col-sm-4 text-center">
                <h3>{{ deal.name | upper }}</h3>
                <p>AT {{ deal.business.name | upper }}</p>
                <p>ENDS: {{ deal.endsAt | date('m/d/Y') }}</p>
                <div class="container-image">
                    <img class="center-height" src="{{ asset('images/deals/' ~ deal.image) }} "/>
                </div>
                <p><a class="btn btn-info" href="landing.html#" role="button">View Deal</a></p>
            </div>
        {% endfor%}
    </section>
{% endblock %}

{% block topbusinesses %}
{% endblock %}