
/*
 *
 *   INSPINIA Landing Page - Responsive Admin Theme
 *   Copyright 2014 Webapplayers.com
 *
*/
/* GLOBAL STYLES
-------------------------------------------------- */
/* PACE PLUGIN
-------------------------------------------------- */
.landing-page.pace .pace-progress {
    background: #fff;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}
.pace-inactive {
    display: none;
}
body.landing-page {
    color: #676a6c;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    background-color: #fff;
}
.landing-page {
    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */
    /* Flip around the padding for proper display in narrow viewports */
    /* BACKGROUNDS SLIDER
    -------------------------------------------------- */
    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */
    /* Carousel base class */
    /* Since positioning the image, we need to help out the caption */
    /* Declare heights because of positioning of img element */
    /* Sections
    ------------------------- */
    /* Buttons - only primary custom button
    ------------------------- */
    /* RESPONSIVE CSS
    -------------------------------------------------- */
}
.landing-page span.navy {
    color: #1ab394;
}
.landing-page p.text-color {
    color: #676a6c;
}
.landing-page a.navy-link {
    color: #1ab394;
    text-decoration: none;
}
.landing-page a.navy-link:hover {
    color: #179d82;
}
.landing-page section p {
    color: #aeaeae;
    font-size: 13px;
}
.landing-page address {
    font-size: 13px;
}
.landing-page h1 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 200;
}
.landing-page .navy-line {
    width: 60px;
    height: 1px;
    margin: 60px auto 0;
    border-bottom: 2px solid #1ab394;
}
.landing-page .navbar-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 200;
}
.landing-page .navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.landing-page .navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.landing-page .navbar-default.navbar-scroll {
    background-color: #fff;
    border-color: #fff;
    padding: 15px 0;
}
.landing-page .navbar-default {
    background-color: transparent;
    border-color: transparent;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.landing-page .navbar-default .nav li a {
    color: #fff;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
}
.landing-page .navbar-nav > li > a {
    padding-top: 25px;
    border-top: 6px solid transparent;
}
.landing-page .navbar-default .navbar-nav > .active > a,
.landing-page .navbar-default .navbar-nav > .active > a:hover {
    background: transparent;
    color: #fff;
    border-top: 6px solid #1ab394;
}
.landing-page .navbar-default .navbar-nav > li > a:hover,
.landing-page .navbar-default .navbar-nav > li > a:focus {
    color: #1ab394;
    background: inherit;
}
.landing-page .navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
    color: #fff;
}
.landing-page .navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
    color: #ffffff;
}
.landing-page .navbar-default.navbar-scroll .navbar-nav > .active > a:focus {
    background: transparent;
    color: inherit;
}
.landing-page .navbar-default .navbar-brand:hover,
.landing-page .navbar-default .navbar-brand:focus {
    background: #179d82;
    color: #fff;
}
.landing-page .navbar-default .navbar-brand {
    color: #fff;
    height: auto;
    display: block;
    font-size: 14px;
    background: #1ab394;
    padding: 13px 20px 12px 20px;
    border-radius: 0 0 5px 5px;
    font-weight: 700;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.landing-page .navbar-scroll.navbar-default .nav li a {
    color: #676a6c;
}
.landing-page .navbar-scroll.navbar-default .nav li a:hover {
    color: #1ab394;
}
.landing-page .navbar-wrapper .navbar.navbar-scroll {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #e7eaec;
    border-radius: 0;
}
.landing-page .nav > li.active {
    border: none;
    background: inherit;
}
.landing-page .nav > li > a {
    padding: 22px 8px 13px 8px;
}
.landing-page .navbar-scroll .navbar-nav > li > a {
    padding: 18px 8px;
}
.landing-page .navbar-default .navbar-nav > .active > a,
.landing-page .navbar-default .navbar-nav > .active > a:hover {
    border-top: 6px solid #1ab394;
}
.landing-page .navbar-fixed-top {
    border: none !important;
}
.landing-page .navbar-fixed-top.navbar-scroll {
    border-bottom: 1px solid #e7eaec !important;
}
.landing-page .navbar.navbar-scroll .navbar-brand {
    margin-top: 15px;
    border-radius: 5px;
    font-size: 12px;
    padding: 0 15px;
    height: auto;
    background-color: #FFFFFF;
}
.landing-page .header-back {
    height: 470px;
    width: 100%;
}
.landing-page .header-back.one {
    background: url('../img/header_one.jpg') 50% 0 no-repeat;
}
.landing-page .carousel {
    height: 470px;
}
.landing-page .carousel-caption {
    z-index: 10;
}
.landing-page .carousel .item {
    height: 470px;
    background-color: #777;
}
.landing-page .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 470px;
}
.landing-page .carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.landing-page .carousel-fade .carousel-inner .active {
    opacity: 1;
}
.landing-page .carousel-fade .carousel-inner .active.left,
.landing-page .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.landing-page .carousel-fade .carousel-inner .next.left,
.landing-page .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.landing-page .carousel-fade .carousel-control {
    z-index: 2;
}
.landing-page .carousel-control.left,
.landing-page .carousel-control.right {
    background: none;
}
.landing-page .carousel-control {
    width: 6%;
}
.landing-page .carousel-inner .container {
    position: relative;
}
.landing-page .carousel-inner {
    overflow: visible;
}
.landing-page .carousel-caption {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: auto;
    right: auto;
    text-align: left;
}
.landing-page .carousel-caption {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: auto;
    right: auto;
    text-align: left;
}
.landing-page .carousel-caption.blank {
    top: 140px;
}
.landing-page .carousel-image {
    position: absolute;
    right: 10px;
    top: 150px;
}
.landing-page .carousel-indicators {
    padding-right: 60px;
}
.landing-page .carousel-caption h1 {
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    text-shadow: none;
    letter-spacing: -1.5px;
}
.landing-page .carousel-caption p {
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: none;
}
.landing-page .caption-link {
    color: #fff;
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 400;
}
.landing-page .caption-link:hover {
    text-decoration: none;
    color: inherit;
}
.landing-page .services {
    padding-top: 60px;
}
.landing-page .services h2 {
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 600;
    text-transform: uppercase;
}
.landing-page .features-block {
    margin-top: 40px;
}
.landing-page .features-text {
    margin-top: 40px;
}
.landing-page .features small {
    color: #1ab394;
}
.landing-page .features h2 {
    font-size: 18px;
    margin-top: 5px;
}
.landing-page .features-text-alone {
    margin: 40px 0;
}
.landing-page .features-text-alone h1 {
    font-weight: 200;
}
.landing-page .features-icon {
    color: #1ab394;
    font-size: 40px;
}
.landing-page .navy-section {
    margin-top: 60px;
    background: #1ab394;
    color: #fff;
    padding: 20px 0;
}
.landing-page .gray-section {
    background: #f4f4f4;
    margin-top: 60px;
}
.landing-page .team-member {
    text-align: center;
}
.landing-page .team-member img {
    margin: auto;
}
.landing-page .social-icon a {
    background: #1ab394;
    color: #fff;
    padding: 4px 8px;
    height: 28px;
    width: 28px;
    display: block;
    border-radius: 50px;
}
.landing-page .social-icon a:hover {
    background: #179d82;
}
.landing-page .img-small {
    height: 88px;
    width: 88px;
}
.landing-page .pricing-plan {
    margin: 20px 30px 0 30px;
    border-radius: 4px;
}
.landing-page .pricing-plan.selected {
    transform: scale(1.1);
    background: #f4f4f4;
}
.landing-page .pricing-plan li {
    padding: 10px 16px;
    border-top: 1px solid #e7eaec;
    text-align: center;
    color: #aeaeae;
}
.landing-page .pricing-plan .pricing-price span {
    font-weight: 700;
    color: #1ab394;
}
.landing-page li.pricing-desc {
    font-size: 13px;
    border-top: none;
    padding: 20px 16px;
}
.landing-page li.pricing-title {
    background: #1ab394;
    color: #fff;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    font-size: 22px;
    font-weight: 600;
}
.landing-page .testimonials {
    padding-top: 80px;
    padding-bottom: 90px;
    background-color: #1ab394;
    /*background-image: url('../img/landing/avatar_all.png');*/
}
.landing-page .big-icon {
    font-size: 56px !important;
}
.landing-page .features .big-icon {
    color: #1ab394 !important;
}
.landing-page .contact {
    /*background-image: url('../img/landing/word_map.png');*/
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-top: 60px;
}
.landing-page section.timeline {
    padding-bottom: 30px;
}
.landing-page section.comments {
    padding-bottom: 80px;
}
.landing-page .comments-avatar {
    margin-top: 25px;
    margin-left: 22px;
}
.landing-page .comments-avatar .commens-name {
    font-weight: 600;
    font-size: 14px;
}
.landing-page .comments-avatar img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
}
.landing-page .bubble {
    position: relative;
    height: 120px;
    padding: 20px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-style: italic;
    font-size: 14px;
}
.landing-page .bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 14px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 30px;
}
.landing-page .btn-primary.btn-outline:hover,
.landing-page .btn-success.btn-outline:hover,
.landing-page .btn-info.btn-outline:hover,
.landing-page .btn-warning.btn-outline:hover,
.landing-page .btn-danger.btn-outline:hover {
    color: #fff;
}
.landing-page .btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 600;
}
.landing-page .btn-primary:hover,
.landing-page .btn-primary:focus,
.landing-page .btn-primary:active,
.landing-page .btn-primary.active,
.landing-page .open .dropdown-toggle.btn-primary {
    background-color: #179d82;
    border-color: #179d82;
    color: #FFFFFF;
}
.landing-page .btn-primary:active,
.landing-page .btn-primary.active,
.landing-page .open .dropdown-toggle.btn-primary {
    background-image: none;
}
.landing-page .btn-primary.disabled,
.landing-page .btn-primary.disabled:hover,
.landing-page .btn-primary.disabled:focus,
.landing-page .btn-primary.disabled:active,
.landing-page .btn-primary.disabled.active,
.landing-page .btn-primary[disabled],
.landing-page .btn-primary[disabled]:hover,
.landing-page .btn-primary[disabled]:focus,
.landing-page .btn-primary[disabled]:active,
.landing-page .btn-primary.active[disabled],
.landing-page fieldset[disabled] .btn-primary,
.landing-page fieldset[disabled] .btn-primary:hover,
.landing-page fieldset[disabled] .btn-primary:focus,
.landing-page fieldset[disabled] .btn-primary:active,
.landing-page fieldset[disabled] .btn-primary.active {
    background-color: #1dc5a3;
    border-color: #1dc5a3;
}
@media (min-width: 768px) {
    .landing-page {
        /* Navbar positioning foo */
        /* The navbar becomes detached from the top, so we round the corners */
        /* Bump up size of carousel content */
    }
    .landing-page .navbar-wrapper {
        margin-top: 20px;
    }
    .landing-page .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .landing-page .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    .landing-page .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    .landing-page .carousel-caption p {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.4;
    }
    .landing-page .featurette-heading {
        font-size: 50px;
    }
}
@media (min-width:768px){
    .landing-page .navbar .container {
        width: 768px;
    }
}
@media (min-width:992px){
    .landing-page .navbar .container {
        width: 970px;
    }
}
@media (min-width:1200px){
    .landing-page .navbar .container {
        width: 1170px;
    }
}
@media (max-width: 992px) {
    .landing-page .carousel-image {
        display: none;
    }
}
@media (max-width: 1000px) {
    .landing-page .carousel-caption,
    .landing-page .carousel-caption.blank {
        left: 5%;
        top: 80px;
    }
    .landing-page .carousel-caption h1 {
        font-size: 28px;
    }
    .landing-page .navbar.navbar-scroll .navbar-brand {
        margin-top: 6px;
    }
    .landing-page .navbar-default {
        background-color: #fff;
        border-color: #fff;
        padding: 15px 0;
    }
    .landing-page .navbar-default .navbar-nav > .active > a:focus {
        background: transparent;
        color: inherit;
    }
    .landing-page .navbar-default .nav li a {
        color: #676a6c;
    }
    .landing-page .navbar-default .nav li a:hover {
        color: #1ab394;
    }
    .landing-page .navbar-wrapper .navbar {
        padding-top: 0;
        padding-bottom: 5px;
        border-bottom: 1px solid #e7eaec;
        border-radius: 0;
    }
    .landing-page .nav > li > a {
        padding: 25px 10px 15px 10px;
    }
    .landing-page .navbar-nav > li > a {
        padding: 20px 10px;
    }
    .landing-page .navbar .navbar-brand {
        margin-top: 6px;
        border-radius: 5px;
        font-size: 12px;
        padding: 10px;
        height: auto;
    }
    .landing-page .navbar-wrapper .navbar {
        padding-left: 15px;
        padding-right: 5px;
    }
    .landing-page .navbar-default .navbar-nav > .active > a,
    .landing-page .navbar-default .navbar-nav > .active > a:hover {
        color: inherit;
    }
    .landing-page .carousel-control {
        display: none;
    }
}
@media (min-width: 992px) {
    .landing-page .featurette-heading {
        margin-top: 120px;
    }
}
@media (max-width: 1000px) {
    .landing-page .navbar .navbar-header {
        display: block;
        float: none;
    }
    .landing-page .navbar .navbar-header .navbar-toggle {
        background-color: #ffffff;
        padding: 9px 10px;
        margin-top: 25px;
        border: none;
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .landing-page .navbar-scroll .navbar-header .navbar-toggle {
        background-color: #ffffff;
        padding: 9px 10px;
        margin-top: 9px;
        border: none;
    }
    .landing-page .navbar .navbar-header .navbar-brand {
        float: none;
        display: block;
        text-align: center;
    }
    .landing-page #navbar,
    .landing-page .navbar-collapse {
        text-align: center !important;
    }
    .landing-page .navbar .navbar-nav {
        float: none !important;
        display: inline-block;
    }
    .landing-page .navbar-right {
        float: none;
    }
    .landing-page .navbar .navbar-header .navbar-brand > img{
        display: inline-block;
    }
}

@media (min-width: 1200px) {
    .landing-page .navbar-default .nav li a {
        font-size: 14px;
    }
    .landing-page .nav > li > a {
        padding: 22px 10px;
    }
    .landing-page .navbar-scroll .navbar-nav > li > a {
        padding: 18px 10px 20px;
    }
}

@media (min-width:760px) and (max-width: 770px) {
    .landing-page .navbar-wrapper .navbar {
        padding: 0;
    }
    .landing-page .navbar .container {
        padding: 0 10px 0 0;
    }
}

/*  styles for navbar avatar */
.landing-page .navbar-default .nav li a.navbar-avatar {
    padding-right: 50px;
}
.landing-page .navbar-default .nav li a.navbar-avatar img.img-avatar-small {
    position: absolute;
    top: 16px;
    width: 35px;
    height: 35px;
}
.landing-page .navbar-scroll.navbar-default .nav li a.navbar-avatar img.img-avatar-small {
    top: 12px;
}

.navbar-nav{
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

/* custom navbar brand */
.landing-page .navbar-default .navbar-brand {
    background: rgba(255, 255, 255, 0.5);
}
.landing-page .navbar-default .navbar-brand:hover {
    background: #FFFFFF;
}
.landing-page .navbar-default .navbar-brand img{
    height: 50px;
    width: auto;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.landing-page .navbar.navbar-scroll .navbar-brand img{
    height: 40px;
    width: auto;
}
/*
 * Custom CSS rules
 */

section.signup h2 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

section.inner-content {
    margin-top: 100px;
}

div.container-image {
    height: 340px;
    position: relative;
}

div.container-image.business-image {
    height: 250px;
}

.center-height.business-image {
    max-height: 250px !important;
}

div.related-businesses div.container-image {
    height: 300px;
}

div.related-businesses .center-height {
    max-height: 300px;
    overflow: hidden;
}

.center-cropped {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 100px;
    width: 100px;
}

.container-image > img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.center-height {
    width: auto;
    height: auto !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 300px;
    max-width: 100%;
}

section.top-deals p {
    margin-bottom: 5px;
}

section.top-deals h1 {
    margin-bottom: 50px;
}

div.filter-deals span.select2-container {
    width: 100% !important;
}

div.filter-deals .col-sm-6 > .col-sm-6 {
    padding-left: 0;
}

div.filter-deals > form > .col-sm-6:first-of-type {
    padding-right: 0;
}

div.filter-deals > form > .col-sm-1, .filter-deals form div.col-sm-4 {
    padding-left: 0;
}

div.deal-list {
    margin-top: 30px;
}

.pagination-lg > li > a, .pagination-lg > li > span {
    font-size: 16px;
}

.social-share {
    /*margin-top: 50px;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
}

.social-share a {
    font-size: 20px;
    padding-top: 5px !important;
    padding-left: 12px !important;
    padding-right: 10px !important;
    height: 40px !important;
    width: 40px !important;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

span.business-info {
    font-size: 15px;
}

.business-info li i {
    width: 20px;
}

.landing-page section p {
    font-size: 14px;
}

/*Select 2 customization*/
.select2-container--open .select2-selection--single,
.select2-container--open .select2-dropdown,
.select2-container--open .select2-search > input {
    border: 1px solid #e5e6e7 !important;
}

.related-businesses .btn-primary {
    color: #1ab394;
    background-color: transparent;
    padding: 1px 5px;
    font-size: 12px;
}

.related-businesses .product-imitation {
    background-color: transparent;
}

.carousel-inner .active.left {
    left: -25%;
}

.carousel-inner .next {
    left: 25%;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.business-deals {
    margin-top: 40px;
    margin-bottom: 30px;
}

.business-deals .carousel .item {
    background-color: transparent;
}

.business-deals .carousel-control {
    color: #1ab394;
    opacity: 0.75;
}

/* overlay */

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: rgba(0,0,0,0.5);
    -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect img {
    display: block;
    /*position: relative;*/
    -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0,0,0,0.6);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    padding: 10px;
}

.hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin: 130px 0 0;
    padding: 7px 14px;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

.add-on .input-group-btn > .btn {
    border-left-width: 0;
    left: -2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* stop the glowing blue shadow */
.add-on .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #cccccc;
}

a.logout {
    color: #676a6c !important;
}