/*
 * Custom CSS rules
 */

section.signup h2 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

section.inner-content {
    margin-top: 100px;
}

div.container-image {
    height: 340px;
    position: relative;
}

div.container-image.business-image {
    height: 250px;
}

.container-image > img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.center-height {
    width: auto;
    height: auto !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 300px;
    max-width: 100%;
}

section.top-deals p {
    margin-bottom: 5px;
}

section.top-deals h1 {
    margin-bottom: 50px;
}

div.filter-deals span.select2-container {
    width: 100% !important;
}

div.filter-deals .col-sm-6 > .col-sm-6 {
    padding-left: 0;
}

div.deal-list {
    margin-top: 30px;
}

.pagination-lg > li > a, .pagination-lg > li > span {
    font-size: 16px;
}

.social-share {
    /*margin-top: 50px;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
}

.social-share a {
    font-size: 20px;
    padding-top: 5px !important;
    padding-left: 12px !important;
    padding-right: 10px !important;
    height: 40px !important;
    width: 40px !important;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

span.business-info {
    font-size: 15px;
}

.business-info li  i {
    width: 20px;
}

.landing-page section p {
    font-size: 14px;
}