/*
 * Custom CSS rules
 */

section.signup h2 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

section.inner-content {
    margin-top: 100px;
}

div.container-image {
    height: 340px;
    position: relative;
}

.container-image > img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.center-height {
    width: auto;
    height: auto !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 300px;
    max-width: 100%;
}

section.top-deals p {
    margin-bottom: 5px;
}

section.top-deals h1 {
    margin-bottom: 50px;
}

div.filter-deals span.select2-container {
    width: 100% !important;
}

div.filter-deals .col-sm-6 > .col-sm-6 {
    padding-left: 0;
}

div.deal-list {
    margin-top: 30px;
}

.pagination-lg > li > a, .pagination-lg > li > span {
    font-size: 16px;
}