{% extends '@Frontend/layout.html.twig' %}

{% block title '- Confirmed Registration' %}

{% block content %}

    <section class="inner-content">
        <div class="container">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </section>
{% endblock %}