{% extends '@Frontend/layout.html.twig' %}

{% block title '- Register User' %}

{% block content %}

    <section class="inner-content">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    {% include "FOSUserBundle:Resetting:request_content.html.twig" %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}