{% extends '@Frontend/layout.html.twig' %}

{% block title '- ' ~ 'Resseting Password' | trans({}, 'fosuser') %}

{% block page_content %}

    <section class="inner-content">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}