{% extends '@Frontend/layout.html.twig' %}

{% block metatags %}
    <meta name="keywords" content="{{- render(controller('BackendBundle:Settings:getSettings', { 'property' : 'websiteBrand' })) -}},
    {{- 'Resseting Password' | trans({}, 'fosuser') -}}
    "/>
    <meta name="description" content="
    {{- 'Resseting Password' | trans({}, 'fosuser') -}}
    "/>
{% endblock %}

{% block title '- ' ~ 'Resseting Password' | trans({}, 'fosuser') %}

{% block page_content %}

    <section class="inner-content">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}